* {
    margin: 0px;
    padding: 0px;
}

.board {
    background-color: bisque;
    position: relative;
}

.ant {
    position: absolute;
    background-color: black;
}

.ant:hover {
    cursor: pointer;
}